body{
    background:url(https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
#head{
   
    border: 2px solid red;
    background: rgb(187, 126, 245);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;  
    
}

#techy{
    color: rgb(80, 76, 76); 
    text-decoration: none;
}
#home{
    color: coral;
}
#home:hover{
    color:darkred;
}

.menu{
    display: inline-block;
    text-decoration: none;
}

#nav{
    border: 2px solid black;
    margin-top: 10px;
    text-align: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: grey;
}

#sec{
    display: inline-block
}

#section{
    display: inline-block;
    border: 2px solid black;
    margin-top: 10px;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    background-image: url(https://images.pexels.com/photos/82256/pexels-photo-82256.jpeg?cs=srgb&dl=pexels-tbee-82256.jpg&fm=jpg);
}

#content{
    color: rgb(14, 16, 19);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.con{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


#para{
    color: white;
}

#container{
    
    margin-top: 10px;
    border-radius: 10px;
    float: right;

    border: 2px solid rebeccapurple;
    width: 700px;
    height: 830px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#article{
    display: inline-block;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid yellowgreen;
    border-radius: 10px;
    margin-top: 10px;
    width: 585px;
    height: 400px;
    background-image: url(https://images.pexels.com/photos/7054792/pexels-photo-7054792.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

#footer{
    background-color: rgb(142, 178, 245);
    color: black;
    margin-top: 30px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
#foot{
    margin-top: 20px;
    margin-bottom: 20px;
}